@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   
    <h3 class="mt-5">
        Developer Task: Modules Implementation
    </h3>
    <p>
        Objective: Develop specified modules using ASP.NET Core MVC, EF Core, 
        and MSSQL as part of a backend system. Focus on functionality over design, utilizing the default template for UI elements.
    </p>
</div>
